<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HorseJS</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <img src="horsejs.png" alt="Horse Picture" class="img">
    <div class="text">
      <h1 class="title">horse_js</h1>
      <p class="paragraph">as much as I want to be, I'm not <a href="https://twitter.com/horse_js">@horse_js</a></p>
    </div>
  </body>
</html>
