.image {
  position: relative;
}

.img {
  width: 50px;
  height: 50px;
}

.text {
  position: absolute;
  left: 60px;
  top: 0px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.paragraph {
  margin-top: -10px;
  font: 16px Times New Roman, serif;
}
